<div class="tweet-table" *ngIf="fetchedTweets.length">
  <div class="container">
    <span class="tweetCol">Tweet</span>
    <span class="tweetCol">Likes</span>
    <span class="tweetCol">Replies</span>
    <span class="tweetCol">Retweets</span>
    <span class="tweetCol">Hashtags</span>
    <span class="tweetCol">Date</span>
  </div>
  <div
    *ngFor="
      let tweet of (fetchedTweets
        | paginate
          : {
              id: 'hashtag_search',
              itemsPerPage: 10,
              currentPage: p
            });
      let i = index
    "
    class="container tweets"
  >
    <span class="">{{ formatTweets(tweet.text) || "-" }}</span>
    <span class="">{{ tweet.likes || "-" }}</span>
    <span class="">{{ tweet.replies || "-" }}</span>
    <span class="">{{ tweet.retweets || "-" }}</span>
    <span class="">{{ formatTags(tweet.hashtags) || "-" }}</span>
    <span class="">{{ tweet.date.split(" - ")[1] | date: "MMM d, y" }}</span>
  </div>
  <pagination-controls
    class="my-pagination"
    id="hashtag_search"
    (pageChange)="p = $event"
    previousLabel="<"
    nextLabel=">"
    autoHide="true"
  ></pagination-controls>
</div>
