<!-- <table> -->
<!-- <thead> -->
<div>
  <div class="container">
    <span class="tweetCol">Tweet</span>
    <span class="tweetCol">Likes</span>
    <span class="tweetCol">Replies</span>
    <span class="tweetCol">Retweets</span>
    <span class="tweetCol">Hashtags</span>
    <span class="tweetCol">Date</span>
  </div>
  <!-- </thead> -->
  <!-- <tbody> -->
  <div
    *ngFor="
      let tweet of (fetchedTweets
        | paginate
          : {
              id: 'hashtagSearch',
              itemsPerPage: maxPage,
              currentPage: currentPage
            });
      let idn = index
    "
    class="container"
  >
    <span class="">{{ formatTweets(tweet.text) || "-" }}</span>
    <span class="">{{ tweet.likes || "-" }}</span>
    <span class="">{{ tweet.replies || "-" }}</span>
    <span class="">{{ tweet.retweets || "-" }}</span>
    <span class="">{{ formatTags(tweet.hashtags) || "-" }}</span>
    <span class="">{{ tweet.date || "-" }}</span>
  </div>
</div>

<!-- </tbody> -->
<!-- </table> -->
