.tweet-table {
  margin-top: 2em;
  // padding: 1em;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 3fr 3fr;
  grid-template-rows: 1em;
  grid-column-gap: 3em;
  border-bottom: 1px solid lightgray;
  padding: 1em;
  margin: 0 1em;

  &.tweets {
    grid-template-rows: 3em;
    overflow: hidden;
    word-break: break-all;
  }

  span {
    text-align: left;
    min-width: 0;
  }
}

/** css hack to get rid of built-in << >> symbol, can't be disabled by pag props */
.my-pagination /deep/ .ngx-pagination .pagination-previous a::before,
.my-pagination /deep/ .ngx-pagination .pagination-previous.disabled::before,
.my-pagination /deep/ .ngx-pagination .pagination-next a::after,
.my-pagination /deep/ .ngx-pagination .pagination-next.disabled::after {
  content: "";
}
/** hide left nav arrow for 1st page & right arrow on last */
.my-pagination /deep/ .ngx-pagination .pagination-previous.disabled span,
.my-pagination /deep/ .ngx-pagination .pagination-next.disabled span {
  display: none;
}
