<table>
  <thead>
    <tr>
      <th width="40%">Tweet</th>
      <th width="10%">Likes</th>
      <th width="10%">Replies</th>
      <th width="5%">Retweets</th>
      <th width="15%">Hashtags</th>
      <th width="15%">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tweet of fetchedTweets" class="row">
      <td class="">{{ tweet.text || "-" }}</td>
      <td class="">{{ tweet.likes || "-" }}</td>
      <td class="">{{ tweet.replies || "-" }}</td>
      <td class="">{{ tweet.retweets || "-" }}</td>
      <td class="">{{ tweet.hashtags || "-" }}</td>
      <td class="">{{ tweet.date || "-" }}</td>
    </tr>
  </tbody>
</table>
