.input-search {
  background-image: url("../../svg/baseline-search-24px.svg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 1.3em;
  width: 15em;
  height: 2em;
  font-size: 0.8em;
}

.search-label {
  display: block;
  margin-bottom: 1em;
  color: darken(lightgray, 30%);
}